---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$text-color: lighten(#333, 10%);
$main-width: 80%;
$main-color: #299;
$body: darken(white, 0%);
$secondary-color: darken(white, 2%);
$post-list-color: darken(white, 1%);
$link-hover: #299;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin gborder($value) {
    
     border-image: repeating-linear-gradient(to right, #299 0, #299 33%, lighten(#299, 20%) 34%, lighten(#299, 20%) 65%, lighten(#299, 50%) 66%, lighten(#299, 50%) 100%) 0 0 7 0;
        border-bottom-width: $value;
}

@mixin gshadow {
    box-shadow: 0 1px darken(white, 10%), 0 2px darken(white, 10%), 0 3px darken(white, 10%);
}

@mixin gshadow2 {
    box-shadow: 1px 0 darken(white, 10%), 2px 0 darken(white, 10%), 3px 0 darken(white, 10%);
}

.open-search-box {
    opacity: 1;
	visibility: visible;
    -webkit-transform: scale(1);
	
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "prism",
        "font/font",
        "404",
        "search",
        "paginate",
        "portfolio",
        "profile",
        "project",
        "home",
         "header",
         "base",
         "layout",
         "footer"
;
