<footer>
    <div class="about-wrap">
        <section class="about">
            <img class="about-avatar" src="{{ "/img/avatar.jpg" | prepend: site.baseurl }}" border="0" alt="[name]" />
            <div class="about-body">
                <p class="about-body-title">About</p>
                <p class="about-body-description">{{ site.description }}</p>
                <ul>
                    <li><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" class="about-body-link"><i class="fa fa-twitter fa-2x" style="font-size: 20px; vertical-align: middle;"></i> <span>@{{ site.twitter_username }}</span></a></li>
                    <li><a href="https://github.com/{{ site.github_username }}" target="_blank" class="about-body-link"><i class="fa fa-github fa-1x" style="font-size: 20px; vertical-align: middle;"></i> <span>{{ site.github_username }}</span></a></li>
                </ul>
            </div>
        </section>
    </div>
</footer>