<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if page.redirection %}<meta http-equiv="refresh" content="0; url={{page.redirect-to}}">{% endif %}
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content="Abhishek Sachan">
    <meta name="copyright" content="AbhishekSachan" />
    <meta http-equiv="Reply-to" content="contact@abhisheksachan.in" />
    <meta name="theme-color" content="#568156">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="icon" type="image/ico" href="/img/icon.ico">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome-min.css">
    <link rel="stylesheet" type="text/css" href="/css/icomoon/style.css">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    
    <script type="text/javascript">
    $(document).ready(function() {
		//create variable for top offset of nav
		var sticky_navigation_offset_top = $(".site-header").offset().top;

		//function to decide if the nav should have fixed position
		var sticky_navigation = function() {
			//current vertical position from the top
			var scroll_top = $(window).scrollTop();

			//if scroll is more than the nav then position changed to fixed
			//otherwise change it to relative
			if (scroll_top > sticky_navigation_offset_top) {
				$(".site-header").css({"position":"fixed","top":"-80px"});
			} else {
				$(".site-header").css({"position":"relative","top":"0"});
			}
		};

		//run function on load
		sticky_navigation();

		//run every time page is scrolled
		$(window).scroll(function() {
			sticky_navigation();
		});
});
    </script>
</head>
