<header class="site-header" role="banner">
  <div class="bars">
  <div class="bar">
  </div>
  </div>
  <a class="title-logo" href="{{site.url}}">A</a>
  
</header>


<div class="nav">
 <nav role="nav">
 
      <!-- links outside the page loop-->
      <li>
          <a class="page-link" href="/about">About</a>
         </li>
      <li>
          <a class="page-link" href="/projects">Portfolio</a>
         </li>
     <li>
          <a class="page-link" href="/blog">Blog</a>
         </li>
  </nav>
  </div>
