<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    {% if page.redirection %}<meta http-equiv="refresh" content="0; url={{page.redirect-to}}">{% endif %}
    <title>{% if page.title %}{{ page.title }}—{{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="image_src" href="{{page.featured-image}}">
    <meta name="title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content="Abhishek Sachan">
    <meta name="copyright" content="AbhishekSachan" />
    <meta http-equiv="Reply-to" content="contact@abhisheksachan.in" />
    <meta name="theme-color" content="#568156">

    <link rel="icon" type="image/ico" href="/img/icon.ico">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="/css/icomoon/style.css">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
