<nav id="nav">
<a href="{{ site.url }}"><img src="/img/main.jpg"></a>
  <ul>
    <li><a href="/about"></i>ABOUT</a></li>
    <li><a href="/portfolio"></i>PORTFOLIO</a></li>
    <li><a href="#search"></i>SEARCH</a></li>
    <li><a class="close" href="#">CLOSE</a></li>
  </ul>
  <div class="social-icons">
  <a href="http://twitter.com/{{site.twitter_username}}"><span class="icon-twitter"></span></a>
  <a href="http://github.com/{{site.github_username}}"><span class="icon-github"></span></a>
  <a href="http://codepen.io/abhisack"><span class="icon-codepen"></span></a>
  <a href="http://stackoverflow.com/abhisack"><span class="icon-stackoverflow"></span></a>
  </div>
</nav>