<div class="portfolio">
   <div class="project-container">
       
       <a href="project/cssonly-uis/">  
           <div class="project">
           <figure>
               <img src="/img/css_only_uis.jpg">
               <figcaption></figcaption>
           </figure>
           <section>
           <h3>CSS Only UIs</h3>
           <p>Little User interfaces with pure CSS</p>
               </section>
       </div>
           </a>
       
       
       <a href="/project/weblearner/"> 
       <div class="project">
           <figure>
               <img src="/img/web_learner.jpg">
               <figcaption></figcaption>
           </figure>
           <section>
           <h3>Web Learner</h3>
           <p>A short guide for beginners to learn to code.</p>
               </section>
       </div>
       </a>
       
       
       <a href="http://abhisack.github.io/flexider"> 
       <div class="project">
           <figure>
               <img src="/img/flexider.jpg">
               <figcaption></figcaption>
           </figure>
          <section>
           <h3>Flexider</h3>
           <p>An accessible slider built for speed</p>
               </section>
       </div>
       </a>
       
       
       <a href="http://abhisack.github.io/FModal.js"> 
       <div class="project">
           <figure>
               <img src="/img/fmodal.jpg">
               <figcaption></figcaption>
           </figure>
           <section>
           <h3>FModal.js</h3>
           <p>A library to create full screen modals</p>
               </section>
       </div>
       </a>
       
       </div>
</div>