<div class="entrance" id="portfolio">
              <div id="sites">
                 <p class="banner"><a href="https://github.com/abhisack/php-tooler-boilerplate">PHP TOOLER BOILERPLATE<span>Make Tools the go</span></a> </p>
              </div>
              <div id="sites">
                 <p>CODEFEED<span>Front-end Feed</span></p>
             </div>
             <div id="sites">
                 <p><a href="http://codepen.io/abhisack/pen/myJpoo">TRAFFIC LIGHTS<span>Fun with Keyframes</span></a></p>
             </div>
             <div id="sites">
                  <p><a href="https://github.com/abhisack/awesome-follow-buttons">SOCIALIZER<span>A Cros CMS Plugin</span></a></p>
             </div>
          
            
</div>