<div class="entrance" id="portfolio">
              <div id="sites">
                 <p class="banner">SIITE-1 <span>Lorem Peusem Awesome</span> </p>
              </div>
              <div id="sites">
                 <p>SITE-2 <span>Lorem Peusem Awesome</span></p>
             </div>
             <div id="sites">
                 <p>SITE-3 <span>Lorem Peusem Awesome</span></p>
             </div>
             <div id="sites">
                  <p>SITE-4 <span>Lorem Peusem Awesome</span></p>
             </div>
          
            
</div>