<div class="profile-container">
     <figure>
        <img id="profile-image" src="/img/profile.jpg">
        <figcaption></figcaption>
    </figure>
<div class="profile-content">
    <p>Hi there! I'm Abhishek Sachan, I'm Abhishek Sachan, a curious JavaScripter, Web Developer and a Writer from India.</p>
    <div class="btn-container">
        <a class="btn btn-border btn-material" href="http://codepen.io/abhisack"><span class="icon-codepen"></span>CODEPEN</a>
        <a class="btn btn-border btn-material" href="http://twitter.com/AbhishekSachan3"><span class="icon-twitter"></span>Twitter</a>
    </div>
     </div>
    
</div>