<div class="profile-container">
     <figure>
        <img id="profile-image" src="/img/profile.jpg">
        <figcaption></figcaption>
    </figure>
<div class="profile-content">
    <p>Hi there! I'm Abhishek Sachan, a front-end Web Developer and Designer from India. I'm aspiring to become a freelancer. Contact if you wanna work with me.</p>
    <div class="btn-container">
        <a class="btn btn-border" href="#"><span class="icon-codepen"></span>CODEPEN</a>
        <a class="btn btn-border" href="#"><span class="icon-twitter"></span>Twitter</a>
    </div>
     </div>
    
</div>