.error {
  
  font-family: "Open Sans";
}

.error h2,
.error h3,
.error p {
  text-align: center;
}

.error h2 {
  margin-top: 10px;
  color: tomato;
}

.error h3,
.error h2 {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5em;
}

.error-face {
 display: block;
  width: 200px;
  background-color: #333;
  border-radius: 50%;
  border: 7px solid tomato;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
  -webkit-transition: all 400ms ease-in-out;
}

.error-face:hover > .eye {
  height: 50px;
}



.error-face .left {
margin: 35px 0 0 35px;
 float: left;
  }

.error-face .right {
margin: 35px 35px 0 0;
float: right;
}

.error-face .eye {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: all 400ms ease-in-out;
}

.error-face .mouth {
position: relative;
left: 50%;
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);
-o-transform: translateX(-50%);
transform: translateX(-50%);
width: 100px;
height: 100px;
background-color: transparent;
  top: 50px;
border-radius: 50%;
border: 20px solid transparent;
border-top-color: white;
border-left-color:transparent;
border-right-color: transparent;
border-bottom-color: transparent;
-webkit-transition: all 400ms ease-in-out;
}

@media screen and (max-width: 768px) {

.error h3,
.error h2 {
  font-size: 16px !important;
  line-height: 1.5em;
}

.error h2 {

margin-top: 10px;
}

.error-face {

width: 150px;
height: 150px;
}

.error-face .eye {

width: 35px;
height: 35px;
}

.error-face .left {
margin: 25px 0 0 25px;
 float: left;
  }

.error-face .right {
margin: 25px 25px 0 0;
float: right;
}

.error-face .right .mouth {
  width: 15px;
  height: 15px;
  border: 5px solid transparent;
  border-top-width: 5px;
  top: 25px;
}


  

}