.error-container {
    text-align:center;
    
    p {
        font-size: 1.5em;
    }
}


.error {
    display: block;
    width: 50%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    color: mix(#299, darken(white, 1%));
    font-size: 5em;
    letter-spacing: 10px;
    text-align: center;
    margin-bottom: 0;
    z-index: 1;
    
    span {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 10px;
        background: $body;
        -webkit-animation: reveal 3s ease-out infinite;
        -moz-animation: reveal 3s ease-out infinite;
        -ms-animation: reveal 3s ease-out infinite;
        -o-animation: reveal 3s ease-out infinite;
        animation: reveal 3s ease-out infinite;
        z-index: 2;
    }
    

}

@-webkit-keyframes reveal {
    from {
        left: 0;
    }
    
    
    50% {
        width: 100%;
        z-index: -1;
    }
    to {
        right: 0;
       width: 10%;
    }
}

@-moz-keyframes reveal {
    from {
        left: 0;
    }
    
    
    50% {
        width: 100%;
        z-index: -1;
    }
    to {
        right: 0;
       width: 10%;
    }
}


@-ms-keyframes reveal {
    from {
        left: 0;
    }
    
    
    50% {
        width: 100%;
        z-index: -1;
    }
    to {
        right: 0;
       width: 10%;
    }
}

@-o-keyframes reveal {
    from {
        left: 0;
    }
    
    
    50% {
        width: 100%;
        z-index: -1;
    }
    to {
        right: 0;
       width: 10%;
    }
}


@keyframes reveal {
    from {
        left: 0;
    }
    
    
    50% {
        width: 100%;
        z-index: -1;
    }
    to {
        right: 0;
       width: 10%;
    }
}




@media screen and (max-width: 800px) {
    
    .error {
        margin: 30px auto 5px;
    }
    
}