



html,
body {
 min-height: 100%;
    min-height: 100vh;
    height: 100%;
}
body {
    font-size: 16px;
    font-family:  'Roboto Slab', sans-serif, halvetica, arial, 'Lustria';
    font-weight: 400;
    margin: 0;
    color: $text-color;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

::selection {
    background: lighten(#299, 50%) !important;
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, hr,
dl, dd, ol, ul, figure {
    margin-bottom: 1.6;
    line-height: 1.6;
}

#disqus_thread {
    margin: 50px 0 0;
}

h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.4em;
}

h4, h5, h6 {
    font-size: 1.2em;
}

h1, h2, h3, h4, h5, .site-title {
    font-family: 'Oswald' !important;
    font-weight: 400;
}
p {
    font-size: 1.1em;
}

a {
    text-decoration: none;
}

.project-meta a,
.post-content a {
    color: $main-color;
    text-decoration: none;
    transition: opacity .3s ease-in;
}

.project-meta a:not(.btn):hover,
.post-content a:not(.btn):hover {
        color: $link-hover;
        border-bottom: 1px solid $main-color;
        opacity: 0.7;
    
}

em {
    padding: 2px;
    background: darken(white, 10%);
    padding: 0 5px;
    margin: 0 5px;
}

blockquote {
    display: inline-block;
    float: left;
    width: 45%;
    font-size: 1.2em;
    border-top: 5px solid #299;
    border-bottom: 5px solid #299;
    padding: 0 20px;
    margin: 30px 30px 30px 0;
}
pre {
    margin: 50px 0 !important;
    border-left: 5px solid white;
}

.btn-container-adjustable {
    margin-top: 50px;
    
}

@media screen and (max-width: 800px) {
    blockquote {
        float: none;
        width: 100%;
        margin: 0;
    }
    
    .no-scroll {
        overflow: hidden;
    }
}