main {
    position: relative;
    width: 90%;
    height: 100%;
    float: right;
     background: $body;
    min-height: 100vh;
}

main .wrapper {
width: $main-width;
    padding: 70px 50px;
    min-height: 100vh;
}

.site-title {
    text-transform: uppercase;
    width: 40%;
    color: mix(#299,#333);
    border-top: 2px solid lighten(#333, 20%);
     border-image: repeating-linear-gradient(to right, #299 0, #299 33%, lighten(#299, 20%) 34%, lighten(#299, 20%) 65%, lighten(#299, 50%) 66%, lighten(#299, 50%) 100%) 7 0 7 0;
        border-top-width: 2px;
    border-bottom-width: 5px;
    white-space: nowrap;
    
    span {
        font-size: 16px;
        border-radius: 50%;
        color: white;
        background: #333;
        padding: 5px;
        vertical-align: middle;
        margin-left: 5px;
        cursor: pointer;
        -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
        
        &:hover {
            box-shadow: inset 0 -100px lighten(#333, 10%);
        }
        
        &:active{
            opacity: 0.7;
        }
        
    }
    
}


/***Post list stying****/

.post-list {
    list-style: none;
    margin-top: 50px !important;
    padding: 0;
}


 .post-list li {
     position: relative;
     padding: 10px 20px;
     background: repeating-linear-gradient(45deg, $post-list-color, darken(white, 3%));
     margin: 30px 0;
     box-shadow: 0 0 2px darken(white, 10%);
     
     a {
         text-decoration: none;
         color: #333;
         
         &:hover {
             color: $link-hover;
         }
     }
     
     p {
         font-size: 1em;
     }
     
     .icon {
         float: right;
         padding: 5px;
         border-radius: 50%;
         background: darken(white, 3%);
         color: #299;
         font-size: 40px;
         margin: -20px -35px 0 0;
     }
     }
 


.post-list .post-meta {
    position: absolute;
    color: $main-color;
    padding: 5px 10px;
    background: white;
    border-left: 1px solid $main-color;
    border-bottom: 1px solid $main-color;
    right: 0;
    top: 0;
}

.post {
    min-height: 100vh;
}

/****Post body styling ****/

.post-content {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 5px solid lighten(#333, 50%);
    
    h3 {
        margin: 50px 0 10px;
    }
    
    h4 {
        margin: 50px 0 10px;
    }
    
    h5 {
        margin: 50px 0 10px;
    }
    
    h6 {
      margin: 50px 0 10px;  
    }
}


/****Universal post meta*****/

.post-meta {
    letter-spacing: 2.5px;
}

.post .post-header .post-meta {
    font-style: italic;
    color: #299;
    margin: 0 0 30px;
    font-size: 1.2em;
}

#post-title {
    margin-bottom: 0;
}

@media screen and (max-width: 800px) {
    
     main {
        top: 50px;
        left: 0;
        float: none;
        width: 100%;
         margin: -21px 0 0 0;
        
        .wrapper {
            padding: 50px 20px;
            width: 100%;
        }
    }
    
    .post-list li {
        
        
        h2 {
            
            margin-top: 30px;
            
        }
        
        .icon {
            font-size: 30px;
        }
    }
    
    .site-title {
        width: 50%;
        padding-bottom: 10px;
        font-size: 25px;
        border-top-width: 0;
    }
}

@media screen and (max-width: 480px) {
    
    
    .site-title {
    width: 100%;
        font-size: 20px;
        
        &::before {
            display: hidden;
        }
    }
}

@media screen and (min-width: 801px) and (max-width: 1080px) {
    
    
    .site-title {
        font-size: 30px;
        
        &::before {
            display: none;
        }
    }
    
     main .wrapper {
            width: 100%;
        }
  
}

@media screen and (min-width: 801px) {
    
    .not-page {
        width: 90%;
    }
    
    .nav {
        overflow: hidden;
    }
    
}