.profile-container {
    padding: 10px 0;
    
    figure {
         position: relative;
        display: inline-block;
        
        width: 150px;
        width: 20vw;
        
        height: 150px;
        height: 20vw;
        
        max-width: 300px;
        min-width: 150px;
        max-height: 300px;
        min-height: 150px;
        vertical-align: middle;
        border-radius: 50%;
        overflow: hidden;
        
        img {
            border-radius: none;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        figcaption {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(yellow, 0.1);
            width: 100%;
            height: 100%;
            border-radius: inherit;
        }
        
    }
    
    .profile-content {
        display: inline-block;
        width: 45%;
        vertical-align: middle;
    }
}

.btn-container {
    
}

.btn {
    display: inline-block;
    width: 45%;
    text-align: center;
    color: white !important;
    background: #333;
    padding: 10px 0;
    -webkit-transition: all .3s ease-out !important;
    -moz-transition: all .3s ease-out !important;
    -o-transition: all .3s ease-out !important;
    -ms-transition: all .3s ease-out !important;
    transition: all .3s ease-out !important;
    
    &:hover {
        /***global link override***/
        opacity: 1;
        border-bottom: none;
        box-shadow: inset 0 -100px lighten(#333, 10%);
    }
    
    span {
        margin-right: 5px;
    }
}


.btn-material {
        position: relative; /*** for after ***/
        overflow: hidden; /*** for after pseudo element ***/
}
/***Material effect on click ***/
.btn-material::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  width: 20px;
  height: 20px;
  background: rgba(#299, 0.1);
  transition: all .05s ease-out;
  transform: translate(-50%, 100%);
  border-radius: 50%;
    z-index: 5;
}

.btn-material:active::after,
.btn-material:focus::after{
	transform: translate(0);
  left: 0;
  top: 0;
	width: 100%;
	height: 100%;
  border-radius: 0;
  background: rgba(#299, 0.2);
  transform: translateY(0%);
}

@media screen and (max-width: 800px) {
    .profile-container {
        figure {
            display: block;
            margin: 0 auto;
        }
        
        .profile-content {
            width: 100%;
        }
    }
}

@media screen and (max-width: 480px) {
    .btn-container {
        text-align: center;
        
        .btn {
            width: 100%;
            margin-top: 15px;
        }
    }
    
    
    .profile-container figure {
    
          border-radius: 50%;
          
          img {
              border-radius: inherit;
          }
          
          figcaption {
              border-radius: inherit;
          }
    }
}

@media screen and (min-width: 801px) and (max-width: 1080px) {
    
    
      .profile-container figure {
          min-width: 200px;
          min-height: 200px;
          border-radius: 50%;
          
          img {
              border-radius: inherit;
          }
          
          figcaption {
              border-radius: inherit;
          }
      }
    
    
    .profile-container  .profile-content {
        text-align: center;
    }

    .profile-container .btn-container {
        text-align: center;
    }
}

