#portfolio {

width: 99%;

margin-top: 80px;
margin-left: auto;
margin-right: auto;
font-family: sans-serif;

display: -webkit-flex;
display: -moz-block;
display: -ms-flexbox;
display: -o-flex;
display: flex;

-webkit-flex-direction: row;
justify-content: center;

-webkit-justify-content: center;
-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;

-webkit-flex-wrap: wrap;
-moz-flex-wrap: wrap;
-ms-flex-wrap: wrap;
-o-flex-wrap: wrap;
flex-wrap: wrap;
-webkit-align-items: center;
-moz-align-items: center;
-ms-align-items: center;
-o-align-items: center;
align-items: center;
-webkit-prespective: 1000px;
-moz-prespective: 1000px;
-ms-prespective: 1000px;
-webkit-prespective: 1000px;
-o-prespective: 1000px;

}

#sites {

display: inline-block;
width: 32%;
height: 175px;
line-height: 175px;
text-align: center;
margin: 25px 0 0 5px;
border: 2px solid #568156;
background-color: #568156;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-blend-mode: multiply;
-moz-background-blend-mode: multiply;
-webkit-transition: all 1s ease-in-out;
-moz-transition: all 1s ease-in-out;
-ms-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
transition: all 1s ease-in-out;
will-change: background-blend-mode;
-moz-box-sizing: border-box;
box-sizing: border-box;
flex: 1;


}
#sites p {
position: relative;
top: 0;
padding: 0;
margin: 0;
font-family: sans-serif;
color: white;
font-size: 20px;
font-weight: 20em;
opacity: 0;
background: url(/img/gradient-2.png);
will-change: display;
height: 100%;
vertical-align: middle;
line-height: 87.5px;

/**************Fallback*************/
position: relative;
left: 50%;
top: 50%;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
-webkit-transform-origin: center center;
-o-transform-origin: center center;
-ms-transform-origin: center center;


}


#sites p span {
margin: -500px auto 0 auto;
display: block;
width: 70%;
text-align: center;
margin-top: 0px;
font-family: verdana;
font-size: 15px;
color: white;
}

#portfolio #sites p a {
	text-decoration: none;
	color: white;
}

@-webkit-keyframes fallIt {
	
	from {

	-webkit-transform: scale(0);
	


	}
	to {


-webkit-transform: scale(1);
	
	

	}
}

@-moz-keyframes fallIt {
	
	from {

	transform: scale(0);
	


	}
	to {


  stransform: scale(1);
	
	

	}
}

@-ms-keyframes fallIt {
	
	from {

	-ms-transform: scale(0);
	


	}
	to {


-ms-transform: scale(1);
	
	

	}
}

@-o-keyframes fallIt {
	
	from {

	-o-transform: scale(0);
	


	}
	to {


-o-transform: scale(1);
	
	

	}
}

@keyframes fallIt {
	
	from {

	transform: scale(0);
	}

	to {

 transform: scale(1);
	

	}
}


#sites:hover {
background-blend-mode: none;
cursor: pointer;
opacity: 0.9;
}

@-webkit-keyframes fadeIn {
from {
opacity: 0;
}

to {
opacity: 1;
}

}


@-ms-keyframes fadeIn {
from {
opacity: 0;
}

to {
opacity: 1;
}

}


@-moz-keyframes fadeIn {
from {
opacity: 0;
}

to {
opacity: 1;
}

}


@-o-keyframes fadeIn {
from {
opacity: 0;
}

to {
opacity: 1;
}

}


@keyframes fadeIn {
from {
opacity: 0;
}

to {
opacity: 1;
}

}

#sites:hover > p {

opacity: 1;
-webkit-animation: fadeIn .3s ease-in;
-moz-animation: fadeIn .3s ease-in;
-ms-animation: fadeIn .3s ease-in;
-o-animation: fadeIn .3s ease-in;
animation: fadeIn .3s ease-in;
color: white;

}


#sites:nth-child(1) {


background-image: url(/img/port/Screenshot_4.jpg);
-webkit-flex-basis: 100%;
-moz-flex-basis: 100%;
-ms-flex-basis: 100%;
-o-flex-basis: 100%;
flex-basis: 100%;
width: 100% !important;
height: 50vh;
}

#sites:nth-child(1) p {
line-height: 25vh !important;
}

#sites:nth-child(2) {

background-image: url(/img/port/code-feed.jpg);

}

#sites:nth-child(3) {

background-image: url(/img/port/traffic_lights.jpg);

}

#sites:nth-child(4) {

background-image: url(/img/port/Screenshot_5.jpg);

}

#sites:nth-child(5) {

background-image: url(/img/port/fl1.jpg);

}

@media screen and (max-width: 768px) {
#sites {
width: 100%;
flex-basis: 100%;
-moz-flex-basis: 100%;
-webkit-flex-basis: 100%;
-o-flex-basis: 100%;
-ms-flex-basis: 100%;
flex-basis: 100%;

}


}

@media screen and (max-width: 1080px) {

#sites p {
	font-size: 20px;
}

}