#portfolio {

width: 99%;

margin-top: 20px;
margin-left: auto;
margin-right: auto;
font-family: "Open Sans";

display: -webkit-flex;
display: -moz-block;
display: -ms-flexbox;
display: -o-flex;
display: flex;

-webkit-flex-direction: row;
justify-content: center;

-webkit-justify-content: center;
-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;

-webkit-flex-wrap: wrap;
-moz-flex-wrap: wrap;
-ms-flex-wrap: wrap;
-o-flex-wrap: wrap;
flex-wrap: wrap;
-webkit-align-items: center;
-moz-align-items: center;
-ms-align-items: center;
-o-align-items: center;
align-items: center;
-webkit-prespective: 1000px;
-moz-prespective: 1000px;
-ms-prespective: 1000px;
-webkit-prespective: 1000px;
-o-prespective: 1000px;
overflow-y: hidden !important;

}

#sites {

display: inline-block;
width: 32%;
height: 175px;
line-height: 175px;
text-align: center;
margin: 25px 0 0 5px;
background-color: lighten(#333, 10%);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-blend-mode: overlay;
-webkit-transition: all 1s ease-in-out;
-moz-transition: all 1s ease-in-out;
-ms-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
transition: all 1s ease-in-out;
-moz-box-sizing: border-box;
box-sizing: border-box;
-ms-box-sizing: border-box;
flex: 1;
box-shadow: inset 0 0 2px #333;
}

#sites p {
padding: 0;
margin: 0;
font-family: "Open Sans";
color: white;
font-size: 20px;
font-weight: 20em;
opacity: 0;
background: rgba(black,0.2);
will-change: display;
height: 100%;
vertical-align: middle;
line-height: 87.5px;
-webkit-transition: all 400ms ease-out;

/****prevent scrollbar****/

overflow: hidden !important;


}


#sites p span {
margin: -500px auto 0 auto;
display: block;
width: 70%;
text-align: center;
margin-top: 0;
font-family: "Open Sans";
font-size: 15px;
color: white;
}

#portfolio #sites p a {
	text-decoration: none;
	color: white;
}

#sites:hover {
cursor: pointer;
opacity: 0.9;
}


#sites:hover > p {

opacity: 1;
-webkit-animation: fadeIn .3s ease-in;
-moz-animation: fadeIn .3s ease-in;
-ms-animation: fadeIn .3s ease-in;
-o-animation: fadeIn .3s ease-in;
animation: fadeIn .3s ease-in;
color: white;

}


#sites:nth-child(1) {


background-image: url(/img/web_learner.jpg);
background-size: 100% 100%;
-webkit-flex-basis: 100%;
-moz-flex-basis: 100%;
-ms-flex-basis: 100%;
-o-flex-basis: 100%;
flex-basis: 100%;
width: 100% !important;
height: 50vh;
}

#sites:nth-child(1) p {
line-height: 25vh !important;
}

#sites:nth-child(2) {

background-image: url(/img/code-feed.jpg);

}

#sites:nth-child(3) {

background-image: url(/img/tab-mockup.jpg);

}

#sites:nth-child(4) {

background-image: url(/img/social.jpg);

}

#sites:nth-child(5) {

background-image: url(/img/port/fl1.jpg);

}


/****"Hire Me" Button Styling*************/

.port-btn {
    display: block;
    line-height: 75px;
	width: 100% !important;
	margin: 50px auto 0 auto;
	height: 75px !important;
	background-color: #333 !important;
	color: white !important;
	text-align: center;
	font-size: 25px;
	-webkit-transition: all 350ms ease-in;
	-moz-transition: all 350ms ease-in;
	-ms-transition: all 350ms ease-in;
	-o-transition: all 350ms ease-in;
	transition: all 350ms ease-in;
	border-radius: 5px 5px 0 0;
    text-decoration: none !important;

}

.port-btn:hover {
background-color: lighten(#333, 15%) !important;
background-color: tomato !important;
}





@media screen and (max-width: 768px) {
#sites {
width: 100%;
flex-basis: 100%;
-moz-flex-basis: 100%;
-webkit-flex-basis: 100%;
-o-flex-basis: 100%;
-ms-flex-basis: 100%;
flex-basis: 100%;

}

#sites p{

    font-size: 18px;
	opacity: 1;
}

#sites p span{

    font-size: 13px;
	opacity: 1;
}
  }



@media screen and (max-width: 1080px) {

#sites p {
	font-size: 20px;
}
}






